body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:687px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:687px;
}
#u58 {
  position:absolute;
  left:2px;
  top:336px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:517px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:22px;
  top:84px;
  width:289px;
  height:517px;
}
#u60 {
  position:absolute;
  left:2px;
  top:250px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:24px;
  background:inherit;
  background-color:rgba(41, 175, 248, 1);
  border:none;
  border-radius:34px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:253px;
  top:127px;
  width:47px;
  height:24px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-right:0px;
  border-radius:38px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:50px;
  top:127px;
  width:203px;
  height:24px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:81px;
  top:127px;
  width:135px;
  height:24px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:24px;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66 {
  position:absolute;
  left:33px;
  top:161px;
  width:111px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67 {
  position:absolute;
  left:2px;
  top:8px;
  width:107px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u68 {
  position:absolute;
  left:28px;
  top:125px;
  width:28px;
  height:28px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u70 {
  position:absolute;
  left:57px;
  top:131px;
  width:18px;
  height:18px;
}
#u71 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:33px;
  top:195px;
  width:96px;
  height:26px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:111px;
  top:231px;
  width:64px;
  height:26px;
}
#u75 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:33px;
  top:231px;
  width:68px;
  height:26px;
}
#u77 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u78 {
  position:absolute;
  left:243px;
  top:195px;
  width:44px;
  height:26px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:136px;
  top:195px;
  width:95px;
  height:26px;
}
#u81 {
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82 {
  position:absolute;
  left:33px;
  top:267px;
  width:65px;
  height:26px;
}
#u83 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:185px;
  top:231px;
  width:111px;
  height:26px;
}
#u85 {
  position:absolute;
  left:2px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:108px;
  top:267px;
  width:78px;
  height:26px;
}
#u87 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:33px;
}
#u88 {
  position:absolute;
  left:23px;
  top:85px;
  width:289px;
  height:33px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
